<amp-carousel 
    width="400"
    height="400"
    layout="responsive"
    type="slides"
    autoplay
    delay="2000">
  <amp-img src="{{site.url}}/images/quimbaya/slide3.jpg"
    width="800"
    height="1067"
    alt="another sample image"></amp-img>
  <amp-img src="{{site.url}}/images/quimbaya/slide2.jpg"
    width="690"
    height="762"
    alt="a sample image"></amp-img>
  <amp-img src="{{site.url}}/images/quimbaya/slide1.jpg"
    width="800"
    height="1067"
    alt="another sample image"></amp-img>
    <amp-img src="{{site.url}}/images/quimbaya/slide4.jpg"
    width="800"
    height="1067"
    alt="another sample image"></amp-img>
</amp-carousel>