<div class="gallery">
    <amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>
    {% include image.html
        file="cruda/1.jpg"
        layout="responsive"
        width="600"
        on="tap:lightbox1"
        height="900"
    %}
    {% include image.html
        file="cruda/2.jpg"
        layout="responsive"
        width="600"
        on="tap:lightbox1"
        height="900"
    %}
    {% include image.html
        file="cruda/3.jpg"
        layout="responsive"
        width="600"
        on="tap:lightbox1"
        height="900"
    %}
    {% include image.html
        file="cruda/4.jpg"
        layout="responsive"
        width="500"
        on="tap:lightbox1"
        height="330"
    %}
    {% include image.html
        file="cruda/5.jpg"
        layout="responsive"
        width="500"
        on="tap:lightbox1"
        height="330"
    %}
    {% include image.html
        file="cruda/6.jpg"
        layout="responsive"
        width="500"
        on="tap:lightbox1"
        height="330"
    %}
    {% include image.html
        file="cruda/7.jpg"
        layout="responsive"
        width="500"
        on="tap:lightbox1"
        height="330"
    %}
</div>