 <figure
    {% if include.fullscreen %}
        data-mode="fullscreen"
    {% endif %}
    data-feedback="fb:likes, fb:comments">
    <amp-img
    {% if include.fullscreen %}
    data-mode="fullscreen"
    {% endif %}
    {% if include.absolute %}
        src="{{include.file}}"
    {% else %}
        src="{{site.url}}/images/{{ include.file }}"
    {% endif %}
        layout="{{ include.layout | default: responsive }}" 
        on = "{{ include.on }}"
        alt="{{ include.caption }}"
        width="{{ include.width | default: 1028 }}px"
        height="{{ include.height | default: 771 }}px"
        >
    </amp-img>
    {% if include.caption %}
        <figcaption
        {% if include.fullscreen %}
            class="op-extra-large"
        {% endif %}>{{ include.caption }}</figcaption>
    {% endif %}
</figure>
