<div class="alert alert-info">
  <div class="alert-title">Como seguir la ruta? 🗺🚶</div>  
  <br>
  <b> Todas nuestras rutas son grabadas usando la aplicacion Viewranger para senderismo</b>
  <br>
  si quieres seguir la ruta en tu celular descargar la app viewranger la cual esta disponible en
  <a id="ios" target="_blank" href="https://itunes.apple.com/us/app/viewranger-cycling-hiking-trails-topo-maps/id404581674?mt=8">IOS</a> y 
  <a id="android"  target="_blank" href="https://play.google.com/store/apps/details?id=com.augmentra.viewranger.android&hl=es"> Android</a>,
  una vez instalada ó si ya tienes la aplicacion solo necesitas
  <i><a id="viewranger" target="_blank" href="http://my.viewranger.com/route/details/{{include.viewranger}}">
    descarga esta ruta dando click aqui
  </a></i>
  <br>
  Para aquellos que disponen de un dispositivo GPS 📟 
  pueden descargar la ruta en formato 
  <i><a id="gpx" target="_blank" href="{{site.url}}{{include.images_url}}/gpx/ruta.gpx">GPX</a></i>
</div>



