---
layout: default
---
<div class="wrapper">
<div class="home">
  <div class="page-heading">Rayando <br> con <br> Luz</div>
  <div class="heading-vector"></div>
  <div class="categories">
      <ul>
        <a href="#">
          <li>
            <span class="active" >Articulos</span>
          </li>
        </a>
      </ul>
  </div>
  {{ content }}
  <div class="articles">
  {% for collection in site.collections %}
  {% if site.main_collection == collection.label %} 
    {% for post in collection.docs %}
      {% unless post.draft %}
        <a class="article-link" href="{{ post.url | relative_url }}">
          <div class="article" style="background-image:url({{post.images_url}}/thumbnail.jpg);">
            <div class="scrim-top"></div>
            <div class="scrim-bottom"></div>
            <div class="post-title">{{ post.title | escape }}</div>  
            {% if post.author %}
              {% assign authorInfo = site.data.authors[post.author] %}  
              {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
               <h4>{{ authorInfo.name }}, {{post.date | date: date_format}} </h4>
            {% endif %}    
          </div>
        </a>     
      {% endunless %}
    {% endfor %}
    {% endif %}
    {% endfor %}
    </div>
</div>
</div>