---
layout: default
---
<div class="wrapper">
<div class="home">
  <h1 class="page-heading">Senderos y caminos escritos por locales de Los Andes colombianos</h1>
  {{ content }}
  <ul class="post-list">
    {% for post in site.rutas %}
      {% unless post.draft %}
      <li>
        <a class="post-home_link" href="{{ post.url | relative_url }}">
          <h2>{{ post.title | escape }}</h2>
          <div class="post-home_description">
            <span class="post-home_thumbnail">
               <amp-img src="{{post.images_url}}/featuredThumbnail.jpg" 
                        layout="responsive"
                        alt="{{post.thumbnail_alt}}" 
                        height="370" 
                        width="700"/>
                        <div fallback>revisa tu conexión a internet</div>
               </amp-img>
            </span>
            <span class="post-home_excerpt">{{ post.excerpt }}</span>
          </div>
        </a>
        <ul class="tags">
        {% for tag in post.tags %}
          <li><a href="/regiones#{{ tag }}" class="tag">{{ tag }}</a></li>
        {% endfor %}
        </ul>
      </li>
      {% endunless %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">Subscribete !! <a href="{{ "/feed.xml" | relative_url }}">a nuestro RSS</a></p>

</div>
</div>